In [ ]:
import numpy as np

In [ ]:
a = [1,2,3]
b = [4,5,6]

hasil = a + b
print(hasil)

[1, 2, 3, 4, 5, 6]

In [ ]:
print(sum(hasil))

21

In [ ]:
def totallist(list1, list2):
  total = 0
  for i in list1:
    total += i
  for i in list2:
    total += i
    return total

def totallist(list1, list2):
    total = 0
    for i in list1:
        total += i
    for i in list2:
        total += i
    return total

In [ ]:
totallist(a, b)

21

In [ ]:
nilai_siswa = np.array([85,55,40,90])
print(nilai_siswa[3])

90

In [ ]:
nama = input('Nama Saya: 2')
nim = input('NIM Saya: ')
print("Hello, World!")
print("Nama Saya",  nama)
print("NIM Saya", nim)

Nama Saya: fay
NIM Saya: 20203
Hello, World!
Nama Saya fay
NIM Saya 20203

In [ ]:
def getFirst(myList):
  return(myList[0])

In [ ]:
def getLast(myList):
  return(myList[-1])

In [ ]:
  print(getFirst([1,2,3,4,5,6,7,8]))
  getLast([1,2,3,4,5,6,7,8])

1

8

In [ ]:
def getTimes(myList):
    times = 1
    for item in myList:
        times *= item
    return times

In [ ]:
getTimes([1,3,5,7])

105

In [ ]:
def getlast2(list):
    size = len(list)
    print(f"Size: {size}")
    return list[size-1]

    getlast2([1,2,3,4,5,6])